.saledaily-report .ant-table-tbody > tr > td, 
.saledaily-report .ant-table-thead > tr > th {
    white-space: break-spaces;
    vertical-align: top;
}

.saledaily-report .ant-collapse>.ant-collapse-item:last-child, 
.saledaily-report .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 12px;
    background-color: #d9d9d9;
    border: none;
}

.saledaily-report .ant-collapse .ant-collapse-header,
.saledaily-report .ant-collapse .ant-collapse-item-active .ant-collapse-header { 
    border-bottom: 0px solid #fff;
    padding-inline-start: 12px;
    background-color: #d9d9d9;
}


.saledaily-report .ant-collapse .ant-collapse-item-active .ant-collapse-content,
.saledaily-report .ant-collapse .ant-collapse-content {
    color: rgba(0, 0, 0, 0.88);
    background-color: #d9d9d9;
    border-top: 0px solid #d9d9d9;
    padding-inline: 12px;
}

.ant-form .ant-form-item {
    margin-bottom: 6px !important;
}
td.ant-table-cell>.ant-form-item {
    margin-bottom: 0px !important;
}
span.ant-typography+.ant-form-item.\!m-0,
h3.ant-typography+.ant-form-item.\!m-0, 
h4.ant-typography+.ant-form-item.\!m-0 
{
    margin-bottom: 0px !important;
}